@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-light: #dedddb;
	--color-subLight: #fff5ee;
	--color-dark: #0d0e0e;
	--color-subDark: #212122;
}

:root {
	color-scheme: light dark;
}

body {
	background-color: light-dark(var(--color-light), var(--color-dark));
	color: light-dark(var(--color-dark), var(--color-light));
}
